.main-menu {
    background-color: #575757;
    height: auto;
    margin-top: -0.2em;
    width: 100%;
}

.main-menu ul {
    display: inline-flex;
}

.main-menu li {
    list-style-type: none;
    margin-right: 3em;
}

.main-menu li a {
    text-decoration: none;
    color: #fff;
}